.dark.logos svg path {
  fill: #ffffff !important;
}

.iconGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.iconItem {
  justify-self: center;
}
